.twitter_button{
    background-image: url('../img/icon.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-top:30px;
}
.twitter_button:active{
    background-image: url('../img/icon.png');
    background-size: 100%;
    width: 50px;
    height: 50px;
    margin-top:30px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
iframe{
    width:560px;
    height:315px;
}
@media (max-width:768px){
    iframe{
        width:100%;
        height:250px;
    }
}